body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    background-color:#E4F6FF ;
}

header{
    background-image: url('./img/fondoheader.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 360px; 
    padding-left: 1pc;
}

header div,img{
    display: inline-block;
    margin-right: 200px;
}

header img {
    border-radius: 50%; 
    width: 150px; /* Tamaño de la imagen */
    height: 150px; /* Tamaño de la imagen */
    position: absolute; /* Posiciona la imagen de manera absoluta dentro del header */
    bottom: 460px; /* Posiciona la imagen desde la parte inferior del header */
    right: 20px; /* Posiciona la imagen desde el lado derecho */
}

.header-quote{
    font-family: 'Times New Roman', Times, serif;
}

main, footer {
    padding-left: 1pc;
}

.main-title img,h2{
    display: inline-block;
    vertical-align: middle; /* pa centrar verticalmente img y h2*/
}

.main-title img{
    margin-right: 10px; /* gap pa que no esté al lado del img */
}


.education-div{
    color: #000000;
    width: 500px;
    display: inline-block;
}


main a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
}

section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
}

span {
    color: rgb(0, 76, 255);
    font-weight: bold;
}


footer {
    background-image: url('./img/fondoheader.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #000000;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none; /* Elimina cualquier guion o subrayado */
}

footer img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px; /* Reduce el margen entre las imágenes */
    width: 30px; /* Asegúrate de que el tamaño de las imágenes sea consistente */
    height: 31px;
}